/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &kp Q  &kp W  &kp F   &kp P   &kp B        &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &trans
&trans  &kp A  &kp R  &kp S   &kp T   &kp G        &kp M   &kp N   &kp E      &kp I    &kp O     &trans
&trans  &kp Z  &kp X  &kp C   &kp D   &kp V        &kp K   &kp H   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &kp SPACE    &trans  &trans  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp EXCL     &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE     &kp KP_MULTIPLY  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &trans
&trans  &kp HASH     &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE    &kp KP_DIVIDE    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &trans
&trans  &kp PERCENT  &kp CARET   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_EQUAL     &trans
                                 &trans                &trans                 &trans       &trans           &trans           &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans    &trans    &trans         &trans       &trans     &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans  &trans
                         &trans   &trans   &trans    &trans    &trans         &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Config {
            if-layers = <1 1>;
            then-layer = <1>;
        };
    };
};

&led_strip { chain-length = <27>; };
